In [1]:
import csv
import pandas as pd
import sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
import numpy as np

In [2]:
data = pd.read_csv("cleaned_3.csv")

In [3]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDB14,20.25,Regular,0.171939,Canned,92.5120,OUT010,1998.0,Small,Tier 3,Grocery Store,186.4240
1,FDS52,8.89,Low Fat,0.009163,Frozen Foods,101.7016,OUT010,1998.0,Small,Tier 3,Grocery Store,101.2016
2,NCN07,18.50,Low Fat,0.056816,Others,132.1284,OUT010,1998.0,Small,Tier 3,Grocery Store,263.6568
3,FDI32,17.70,Low Fat,0.291865,Fruits and Vegetables,115.1834,OUT010,1998.0,Small,Tier 3,Grocery Store,345.5502
4,FDR47,17.85,Low Fat,0.070088,Breads,196.5794,OUT010,1998.0,Small,Tier 3,Grocery Store,585.2382
...,...,...,...,...,...,...,...,...,...,...,...,...
8324,NCU06,17.60,Low Fat,0.074523,Household,228.8010,OUT049,1999.0,Medium,Tier 1,NaN,3215.8140
8325,FDH35,18.25,Low Fat,0.060342,Starchy Foods,165.9526,OUT049,1999.0,Medium,Tier 1,NaN,1644.5260
8326,NCY42,6.38,Low Fat,0.015186,Household,144.9470,OUT049,1999.0,Medium,Tier 1,NaN,3435.5280
8327,DRL49,13.15,Low Fat,0.056517,Soft Drinks,143.4812,OUT049,1999.0,Medium,Tier 1,NaN,854.8872
8328,DRL01,19.50,Regular,0.077108,Soft Drinks,232.8958,OUT013,1987.0,High,Tier 3,NaN,5608.6992

In [4]:
data[data['Item_Visibility'] == 0]

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [5]:
data.isnull().sum()/data.shape[0]*100

Item_Identifier              0.000000
Item_Weight                  0.048025
Item_Fat_Content             0.000000
Item_Visibility              0.024012
Item_Type                    0.900468
Item_MRP                     0.000000
Outlet_Identifier            1.008524
Outlet_Establishment_Year    0.024012
Outlet_Size                  0.000000
Outlet_Location_Type         0.000000
Outlet_Type                  0.924481
Item_Outlet_Sales            0.000000
dtype: float64

In [6]:
data =data[data['Item_Weight'].notnull()]
data=data[data['Item_Visibility'].notnull()]
data=data[data['Outlet_Establishment_Year'].notnull()]

In [7]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDB14,20.25,Regular,0.171939,Canned,92.5120,OUT010,1998.0,Small,Tier 3,Grocery Store,186.4240
1,FDS52,8.89,Low Fat,0.009163,Frozen Foods,101.7016,OUT010,1998.0,Small,Tier 3,Grocery Store,101.2016
2,NCN07,18.50,Low Fat,0.056816,Others,132.1284,OUT010,1998.0,Small,Tier 3,Grocery Store,263.6568
3,FDI32,17.70,Low Fat,0.291865,Fruits and Vegetables,115.1834,OUT010,1998.0,Small,Tier 3,Grocery Store,345.5502
4,FDR47,17.85,Low Fat,0.070088,Breads,196.5794,OUT010,1998.0,Small,Tier 3,Grocery Store,585.2382
...,...,...,...,...,...,...,...,...,...,...,...,...
8324,NCU06,17.60,Low Fat,0.074523,Household,228.8010,OUT049,1999.0,Medium,Tier 1,NaN,3215.8140
8325,FDH35,18.25,Low Fat,0.060342,Starchy Foods,165.9526,OUT049,1999.0,Medium,Tier 1,NaN,1644.5260
8326,NCY42,6.38,Low Fat,0.015186,Household,144.9470,OUT049,1999.0,Medium,Tier 1,NaN,3435.5280
8327,DRL49,13.15,Low Fat,0.056517,Soft Drinks,143.4812,OUT049,1999.0,Medium,Tier 1,NaN,854.8872
8328,DRL01,19.50,Regular,0.077108,Soft Drinks,232.8958,OUT013,1987.0,High,Tier 3,NaN,5608.6992

In [8]:
data.isnull().sum()/data.shape[0]*100

Item_Identifier              0.000000
Item_Weight                  0.000000
Item_Fat_Content             0.000000
Item_Visibility              0.000000
Item_Type                    0.901226
Item_MRP                     0.000000
Outlet_Identifier            0.985340
Outlet_Establishment_Year    0.000000
Outlet_Size                  0.000000
Outlet_Location_Type         0.000000
Outlet_Type                  0.913242
Item_Outlet_Sales            0.000000
dtype: float64

In [9]:
data[data['Item_Visibility'] == 0]

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [10]:
from scipy.stats import mode
outlet_typemode=data.pivot_table(values='Outlet_Type', columns='Outlet_Identifier', aggfunc=lambda x:x.mode())
outlet_typemode

Outlet_Identifier,OUT010,OUT013,OUT017,OUT018,OUT019,OUT027,OUT035,OUT045,OUT046,OUT049
Outlet_Type,Grocery Store,Supermarket Type1,Supermarket Type1,Supermarket Type2,Grocery Store,Supermarket Type3,Supermarket Type1,Supermarket Type1,Supermarket Type1,Supermarket Type1

In [11]:
def input_outlet_type(cols):
    outlet_type=cols[0]
    identifier=cols[1]
    if(pd.isnull(outlet_type)):
        return outlet_typemode.loc['Outlet_Type'][outlet_typemode.columns==identifier].get(0)
    else:
        return outlet_type

# print('Og missing: %d'%sum(data['Outlet_Size'].isnull()))
data['Outlet_Type']=data[['Outlet_Type', 'Outlet_Identifier']].apply(input_outlet_type,axis=1)
# print('Final missing: %d'%sum(data['Outlet_Type'].isnull()))

In [17]:
data.isnull().sum()/data.shape[0]*100
print(list(data['Outlet_Type'].unique()))

['Grocery Store', 'Supermarket Type1', 'Supermarket Type2', 'Supermarket Type3', None]

In [13]:
item_type=data.pivot_table(values='Item_Type', columns='Item_Identifier', aggfunc=lambda x:x.mode())
# outlet_sizemode
def fill_item_type(cols):
    it=cols[0]
    idvals=cols[1]
    if(pd.isnull(it)):
        return item_type.loc['Item_Type'][item_type.columns==idvals].get(0)
    else:
        return it

data['Item_Type']=data[['Item_Type', 'Item_Identifier']].apply(fill_item_type,axis=1)
data.isnull().sum()/data.shape[0]*100

Item_Identifier              0.000000
Item_Weight                  0.000000
Item_Fat_Content             0.000000
Item_Visibility              0.000000
Item_Type                    0.000000
Item_MRP                     0.000000
Outlet_Identifier            0.985340
Outlet_Establishment_Year    0.000000
Outlet_Size                  0.000000
Outlet_Location_Type         0.000000
Outlet_Type                  0.012016
Item_Outlet_Sales            0.000000
dtype: float64

In [19]:
print(list(data['Item_Type'].unique()))

['Canned', 'Frozen Foods', 'Others', 'Fruits and Vegetables', 'Breads', 'Health and Hygiene', 'Baking Goods', 'Household', 'Snack Foods', 'Dairy', 'Meat', 'Breakfast', 'Hard Drinks', 'Starchy Foods', 'Soft Drinks', 'Seafood']

In [14]:

outlet_idmode=data.pivot_table(values='Outlet_Identifier', columns='Outlet_Establishment_Year', aggfunc=lambda x:x.mode())


def input_outlet_id(cols):
    outlet_id=cols[0]
    yr=cols[1]
    if(pd.isnull(outlet_id)):
        return outlet_idmode.loc['Outlet_Identifier'][outlet_idmode.columns==yr].get(0)
    else:
        return outlet_id

# print('Og missing: %d'%sum(data['Outlet_Size'].isnull()))
data['Outlet_Identifier']=data[['Outlet_Identifier', 'Outlet_Establishment_Year']].apply(input_outlet_id,axis=1)

In [15]:
data.isnull().sum()/data.shape[0]*100

Item_Identifier              0.000000
Item_Weight                  0.000000
Item_Fat_Content             0.000000
Item_Visibility              0.000000
Item_Type                    0.000000
Item_MRP                     0.000000
Outlet_Identifier            0.985340
Outlet_Establishment_Year    0.000000
Outlet_Size                  0.000000
Outlet_Location_Type         0.000000
Outlet_Type                  0.012016
Item_Outlet_Sales            0.000000
dtype: float64

In [16]:
print(list(data['Outlet_Identifier'].unique()))

['OUT010', 'OUT019', None, 'OUT013', 'OUT018', 'OUT027', 'OUT045', 'OUT017', 'OUT035', 'OUT046', 'OUT049']

In [20]:
data.to_csv("cleaned_4.csv",index=False)